body,
html {
  margin: 0;
  padding: 0;
}

header {
  background-color: #97C2B3;
  margin: 10px;
}

header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 36pt;
  text-align: center;
  padding-top: 30px;
}

header h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 20px;
}

main {
  width: 100%;
  margin: auto;
}

article {
  margin-top: 50px;
  margin-bottom: 50px;
}

article h2 {
  background-color: #367D8F;
  text-align: center;
  padding: 15px 15px;
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  width: 45%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  width: 550px;
  margin: 20px;
  line-height: 1.5em;
}

ul {
  padding-top: 20px;
}

ul li {
  list-style-position: inside;
  list-style: disc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  width: 550px;
  margin-left: 40px;
  line-height: 1.5em;
}

ol {
  padding-top: 20px;
}

ol li {
  list-style-position: inside;
  list-style: number;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  width: 550px;
  margin-left: 45px;
  line-height: 1.5em;
}

div {
  width: 550px;
  float: right;
}

div img {
  position: absolute;
  float: left;
  top: 197px;
  border-style: solid;
  border-width: 4px;
  border-color: #423F16;
  padding: 3px;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #97C2B3;
  margin: 10px;
  padding: 10px;
}